<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
</div>

<script type="text/javascript">
	DeviatingInAComprehensibleMaintainableWay = {}
	DeviatingInAComprehensibleMaintainableWay.fetch_modal = function(path) {
		fetch(path)
			.then(response => response.text())
			.then(data => eval(data));
		return false;
	}
</script>
