<div class="modal-dialog">
<div class="modal-content">


	<div class="modal-header">
		<h5 class="modal-title" id="whateverModalLabel">Remove Post</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">

		<%= render @post %>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<%= link_to "Remove", post_path(@post, :js), class: "btn btn-primary", method: :DELETE %>
	</div>


</div>
</div>
