<!DOCTYPE html>
<html>
  <head>
    <%= render "/layouts/application/head" %>
  </head>

  <body>
  	<%= render "/#{current_role}/navbar" %>
  	<%= render "/layouts/application/alertbar" %>

    <%= yield %>
  </body>
</html>
